<search
  [flooringTypes]="flooringTypes"
  (exportHttpParams)="search($event)"></search>
<div class="row">
  <div class="col-lg-12">
    <table *ngIf="dataSource as flooringSource" class="table">
      <thead>
        <tr>
          <th scope="col">Manufacturer</th>
          <th scope="col">Type</th>
          <th scope="col">Style</th>
          <th scope="col">Style Key</th>
          <th scope="col">Color</th>
          <th scope="col">Color #</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flooring of flooringSource">
          <td>{{flooring.manufacturer}}</td>
          <td>{{flooring.type}}</td>
          <td>{{flooring.style}}</td>
          <td>{{flooring.styleKey}}</td>
          <td>{{flooring.color}}</td>
          <td>{{flooring.colorNumber}}</td>
          <td>{{flooring.size}}</td>
          <td>
            <button type="button" class="btn btn-primary action-button" (click)="openModal(editModal, flooring)">Edit</button>
            <button type="button" class="btn btn-danger action-button" (click)="deleteFlooring(flooring)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #editModal>
  <edit-flooring [flooring]="flooring" (saveEvent)="dataSaved($event)"></edit-flooring>
</ng-template>

